<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Umang |Animals</title>
<!-- Stylesheets -->
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">
<link href="../static/css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="../static/css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="../static/css/color-themes/default-theme.css" rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-type-one">
	
		<!--Header Top event-->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="clearfix">
                    
					
						
<script>                                                            <!--Set the date we're counting down to-->


         var countDownDate = new Date("Sep 5, 2018 15:37:25").getTime();    <!-- Update the count down every 1 second-->
         var x = setInterval(function() {                                   <!--Get todays date and time-->
		 var now = new Date().getTime();                                    <!--Find the distance between now an the count down date-->
		 var distance = countDownDate - now;                                <!-- Time calculations for days, hours, minutes and seconds-->
		 var days = Math.floor(distance / (1000 * 60 * 60 * 24));    
         var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
         var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
         var seconds = Math.floor((distance % (1000 * 60)) / 1000);         <!-- Output the result in an element with id="demo"-->
					document.getElementById("demo").innerHTML = days + " days " + hours + " hours " + minutes + " minutes " + seconds + " seconds ";
    
                                                                            <!-- If the count down is over, write some text -->
    if (distance < 0) {
        clearInterval(x);
				document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
	<!--end of timer -->							
				    <div class="top-left">
						<ul class="clearfix">
						<li><h3 style="color:white;">Upcoming Event:-</h4></li>	
						 <li><h3  style="font-family: Comic Sans MS;" id ="demo"></h3></li>
						 <li><a href="/events-grid/"><h5 style="color:white;">Readmore..</h5></a></li>
						 </ul>
				    </div>
			
                </div>
            </div>
        </div>
    
    	<!--Header Top-->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="clearfix">
                    <div class="top-left">
                        <ul class="clearfix">
                        	<li class="call-us">Have Any Question? <a href="/">Call Us</a></li>
                            <li><span class="icon fa fa-clock-o"></span> Mon-Sat 8:00am-6:30pm</li>
                            
                        </ul>
                    </div>
                    <div class="top-right clearfix">
                    	<ul class="social-icon-three">
                        	<li><a href="https://www.facebook.com/Umang-For-Life-633863450299917/?modal=admin_todo_tour"><span class="icon fa fa-facebook"></span></a></li>
                            <li><a href="https://www.instagram.com/umangforlife/"><span class="icon fa fa-instagram"></span></a></li>
                            <li><a href="https://plus.google.com/u/0/discover"><span class="icon fa fa-google-plus"></span></a></li>
                        </ul>
                    	<!--Cart Box-->
                        <a href="/login/" class="cart-box"><img src="../static/images/icons/login1.png">  LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-outer">
                    	<div class="logo"><a href="/"><img src="/static/images/logo.png" alt="" title=""></a></div>
                    </div>
                    
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="/">Home</a></li>
                                   <li><a href="/about/">About</a></li>
                                
								<li><a href="/events-grid/">Events</a>
                                <li><a href="/causes-grid/">Services</a>
                                <li class="current dropdown"><a href="/">Category</a>
                                    <ul>
									<li><a href="/children/">Children</a></li>
									<li><a href="/oldage/">Old-Age Homes</a></li>
									<li><a href="/widow/">Widow Women</a></li>
									<li><a href="/animals/">Animals</a></li>
									</ul>
                                </li>
                                    
                                    <li><a href="/feedback/">Feedback</a></li>
                                    <li><a href="/blog/">Blog</a></li>
                                    <li><a href="/contact/">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <br>
                        <!-- Main Menu End-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post" action="/search/">{% csrf_token %}
                                                <div class="form-group">
                                                    <input type="search" name="search" value="" placeholder="Search Here" required="">
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!--Donate Btn-->
                        <div class="donate-btn">
                        	<a class="donate theme-btn" href="/login/">Donate Now</a>
                        </div>
                        
                	</div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="/" class="img-responsive"><img src="/static/images/logo-small.png" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
							<ul class="navigation clearfix">
								<li><a href="/">Home</a></li>
                                <li><a href="/about/">About</a></li>
                                        
                                
								<li><a href="/events-grid/">Events</a></li>
                                        
                                <li ><a href="/causes-grid/">Services</a>
								<li class="current dropdown"><a href="/">Category</a>
                                    <ul>
									<li><a href="/children/">Children</a></li>
									<li><a href="/oldage/">Old-Age Homes</a></li>
									<li><a href="/widow/">Widow Women</a></li>
									<li><a href="/animals/">Animals</a></li>
									</ul>
                                </li>
                                   
                                </li>
                                <li><a href="/feedback/">Feedback</a></li>
								<li><a href="/blog/">Blog</a></li>
                                <li><a href="/contact/">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/animal.jpg);">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>ANIMALS</h1>
                <ul class="bread-crumb">
                	<li><a href="/">HOME</a></li>
                    <li>ANIMALS</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    
<!-- Animals list-->
  
 <!--Blog Category Widget-->
  <br>
  <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar default-sidebar">
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2 style="color:orange;"><u>LIST OF NGOs FOR ANIMALS</u></h2>
                            </div>
                            <ul class="blog-cat">
                                <li><h4><i>1.<b>"<b>"PAWS"</b>"</b> - Pet Animal Welfare Society</i></h4></li>
                                <li><h4><i>2.Posh Foundation </i></h4></li>
                            </ul>
                        </div>
					 </aside>
                </div>	
  <section class="children-list">
     <div class="auto-container">
            
            <h4><font color ="RED"><u>1.<b>"PAWS"</b>- Pet Animal Welfare Society</u> </h4>
                                    <pre>Pet Animal Welfare Society (<b>"PAWS"</b>) is a non–government,non–profitable,registered animal welfare organization 
working for prevention of cruelty towards animals and a better environment for mankind. <b>"PAWS"</b> is recognized 
by <font color ="skyblue">Animal Welfare Board of India </font>which is a govt. body.

<b>"PAWS"</b> came into existence in 1998 and started working the very same day.The purpose of the society is 
to make people aware about the care, management and nutrition of pet and stray animals. For <b>"PAWS"</b> all 
animals on this planet are the pets of the society and hence we need to realize their importance in our 
everyday life and do our bit in exchange.

<b>"PAWS"</b> conducts regular awareness programs in and around Delhi besides its anti rabies camps 
for strays. The society is doing its bit to help eradicate rabies and control the stray population by 
immunization and undertaking the<u>"ABC"(Animal Birth Control)</u> Program.

<b>"PAWS"</b> is against cruelty to animals and use of animals in the lab and circus.
It discourages the use of plastic bags and encourages people to plant trees.
It promote vegetarianism and educates people about diseases of zoomatic importance.
It is for preservation of wildlife and it makes people aware of the existing animal laws of this country.
It needs funds for all its future and present projects. Do extend your helping <b>"PAWS"</b> for <b>"PAWS"</b>.

 <h6 style="color:blue;"><u><b>ACTIVITIES</b></u></h6>
*The PAWS team organizes regular Pup Adoption and Anti Rabies Camps on weekends at different 
localities in and around Delhi. Volunteers work tirelessly to see that thesecute, adorable, 
homeless puppies find good homes.

*Anti rabies camp at Vasant kunj, Kishengarh, Masudpur, Mahipalpur, Rangpuri , Rajokari, Munirka,
 Vasant Vihar, Shanti Niketan, Anand Niketan and R K Puram.

*Oral rabies camp at the PAWS shelter in Vasant Kunj by Virbac, a French company.

*Free Pup Adoption Programme at the first ever International Pet Fair in India at Okhla, New Delhi 
on 9th and 10th February. The fair, attended by more than 10,000 people, was inaugrated by ex-chief 
election commissioner of India, Mr. S.S Gill. At the PAWS stall, apart from the awareness campaign, 
19 homeless puppies were adopted.

*On 21st February the government of Delhi launched oral rabies vaccine by Virbac company in association 
with<u>Animal Welfare Board of, India(AWBI)</u>.The shelter was visited by people from
<u>WHO(World Health Organisation)</u>, Chairman AWBI Maj.Gen.(retd.)Dr. R.M.Kharb and many delegates 
from France. They personally fed Oral Rabies Vaccine to the shelter animals and appreciated the work being 
done at the shelter. The animals on the streets of Masudpur, Kishangarh and Vasant Kunj were also 
administered the Oral Rabies Vaccine by WHO.

*Our ABC (Animal Birth Control) and Immunization Program is implemented 24/7 round the year with aid from 
Municipal Corporation of Delhi (MCD). Apart from the strays picked up by PAWS, now on a cost to cost basis,
MCD also brings in animals to the shelter for sterilization and vaccination. So far more than 9000 dogs have 
been sterilized and vaccinated under this program, thereby reducing their population on the roads.

In the last two months, more than 200 dogs are treated at PAWS IPD and released in their respective 
territories once they recover.

<h6 style="color:blue;"><u><b>VOLUNTEER</b></u></h6>
<STRONG>Working hours for volunteers 12noon - 5:00pm</STRONG>

Pet Animal Welfare Society (PAWS) needs helping hands and public involvement to meet 
its aims and objectives.

There are many ways you can involve yourself with PAWS by enrolling for the following online and 
visiting our shelter or call for an appointment – Toll Free: 1800-11-5737 
A.	Dog Walker
B.	Kennel Hygiene Maintenance: You can provide your services or contribute by donating 
    Rs. 1000/- INR per month/kennel.
C.	Pup Care Taker: Involves grooming, feeding and spending time with the pups.
D.	Provide Foster Care for Puppies till adopted: Sponsor their initial immunization cost and 
    provide shelter.
E.	Volunteers for Pup Adoption Camp: Certificates will be provided on the basis of hours 
    contributed for the cause.
F.	Sponsor Indoor Patients Treatment: (Button for Donation)
G.	Sponsor a Shelter Animal:For the upkeep of a permanent resident of the shelter,donate(button) 
    Rs. 10,000/- INR per Month.
H.	Volunteers for Collection of Donations: Help with regular collection of supplies from society, 
    like food, rugs, newspapers, dog coats, bedding, towels, pet accessories etc.
I.	Sponsor ABC program: help one male/female dog sterilization for Rs. 2500/-

<h6 style="color:blue;"><u><b>CONTACT</b></u></h6>
*<u>Address</u>:
C-9/7, Masudpur Market, Vasant Kunj, New Delhi-70 </pre>
            <h4><font color ="RED"><u>2.Posh Foundation</u></h4>
                                     <pre>
Most of the animals today are not healthy and thats because of the food they are eating. We are providing them with proper nutrition and looking after them 
to make them healthy in every way.
<h6 style="color:blue;"><u><b>Address:</b></u></h6>
C-9/7, alpha Market, Vasant Kunj, New Delhi-70 								 
									 
									 </pre>
        </div>
    </div>	
  </section> 	 		 		 
<!--end of animal list-->	
    
    <!--Counter Section-->
    <section class="counter-section" style="background-image:url(/static/images/background/1.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="fact-counter">
                    <div class="row clearfix">
                    
                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                
                                <div class="count-outer count-box">
                                	<span class="dollor-sign">Rs</span>
                                    <span class="count-text" data-speed="1500" data-stop="600">0</span>
                                    <span class="plus-tag">+</span>
                                </div>
                                <h4 class="counter-title">Total Donation</h4>
                            </div>
                        </div>
                
                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="1">0</span>
                                </div>
                                <h4 class="counter-title">Project Completed</h4>
                            </div>
                        </div>
                
                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="6">0</span>
                                    <span class="plus-tag">+</span>
                                </div>
                                <h4 class="counter-title">Team</h4>
                            </div>
                        </div>
                        
                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                
                                <div class="count-outer count-box">
                                	<span class="dollor-sign">Rs</span>
                                    <span class="count-text" data-speed="1500" data-stop="600">0</span>
                                </div>
                                <h4 class="counter-title">Total Fund Rising</h4>
                            </div>
                        </div>
                
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>
    <!--End Counter Section-->
    
    <!--Team Section-->
    <section class="team-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
                <h2>Our Team</h2>
                <div class="text"><h2>No matter how many times but we all help others as much as possible.</h2> </div>
            </div>
            <div class="row clearfix">
			
	</section>
   
    
    <!--Call To Action Section-->
    <section class="call-to-action-section" style="background-image:url(/static/images/background/2.jpg);">
    	<div class="auto-container">
        	<h2>Become A Volunteer</h2>
            <div class="text">Join with us and become real human being and make the world  smile !!</div>
            <a href="../huminity/contact.html" class="theme-btn btn-style-three">Join with Us.</a>
        </div>
    </section>
    <!--End Call To Action Section-->
    
    <!--Sponsors Section-->
    <section class="sponsors-section style-two">
    	<div class="auto-container">
        	<div class="carousel-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/1.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/2.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/3.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/4.png" alt=""></a></div></li>
					
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/1.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/2.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/3.png" alt=""></a></div></li>
                    <li><div class="image-box"><a href="/about/"><img src="/static/images/clients/4.png" alt=""></a></div></li>
					
                </ul>
            </div>
    	</div>
    </section>
    <!--End Sponsors Section-->
    
    
    <!--Subscribe Style One-->
    <section class="subscribe-style-one">
    	<div class="auto-container">
        	<div class="row clearfix">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <h2>Sign up for Updates</h2>
                    <div class="text">Submit your email and stay in touch by notify with updates regularly.</div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <form method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Enter your email" required>
                            <button type="submit" onclick="myFunction()" class="theme-btn"><span class="icon flaticon-send-message-button"></span></button>
							<script>

function myFunction() {

    alert("THANKYOU TO SUBSRCIBE ..!! ");
	
}

</script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
	<!--End Subscribe Style One-->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <div class="auto-container">
            <div class="row clearfix">
            
                <!--big column-->
                <div class="big-column col-md-7 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="logo-box">
                                        <a href="/"><img src="/static/images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <br>
                                    <ul class="social-icon-two">
                                        <li><a href="https://www.facebook.com/Umang-For-Life-633863450299917/?modal=admin_todo_tour"><span class="icon fa fa-facebook"></span></a></li>
                            <li><a href="https://www.instagram.com/umangforlife/"><span class="icon fa fa-instagram"></span></a></li>
                            <li><a href="https://plus.google.com/u/0/discover"><span class="icon fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column / Links Widget-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h2>Quick Links</h2>
                                <div class="widget-content">
                                	<div class="row clearfix">
                                        <ul class="list col-md-7 col-sm-6 col-xs-12">
                                            <li><a href="/about/">About us </a></li>
                                            <li><a href="/events-grid/">Recent projects</a></li>
                                            <li><a href="/about/">Our Mission</a></li>
                                             <li><a href="/team/">Our Team</a></li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--big column-->
                <div class="big-column col-md-5 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                     <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget address-widget">
                                <h2>Our Address</h2>
                                <div class="widget-content">
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-location-pin"></span>Jims Sector-5 Rohini,New Delhi,India</li>
                                        <li><span class="icon flaticon-technology-1"></span>9910938024</li>
                                        <li><span class="icon flaticon-e-mail-envelope"></span>umangforlives@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-sm-6 col-xs-12">
                    	<div class="copyright">All Right Researved <a href="/">UMANG</a> &copy; 2018</div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    	<ul class="footer-nav">
                        	<li><a href="/about/">Home</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                             <li><a href="/team/">Our Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>


<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="/static/css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="/static/css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="/static/css/color-themes/green-theme.css"></span>
            <span class="palate yellow-color" data-theme-file="/static/css/color-themes/yellow-theme.css"></span>
            <span class="palate blue-color" data-theme-file="/static/css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="/static/css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="/static/css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="/static/css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->

<script src="../static/js/jquery.js"></script> 
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.fancybox.pack.js"></script>
<script src="../static/js/jquery.fancybox-media.js"></script>
<script src="../static/js/owl.js"></script>
<script src="../static/js/appear.js"></script>
<script src="../static/js/wow.js"></script>
<script src="../static/js/script.js"></script>

<!--Color Switcher Script-->
<script src="../static/js/color-settings.js"></script>
</body>
</html>