<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>UMANG -your one step,will change lives|home</title>
<!-- Stylesheets -->
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/revolution-slider.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">
<link href="../static/css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="../static/css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="/static/css/color-themes/default-theme.css" rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/sign/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/sign/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/sign/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/sign/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/sign/css/main.css">
<!--===============================================================================================-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-stype-two">
    
    	<!--Header Top-->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="clearfix">
                    <div class="top-left">
                        <ul class="clearfix">
                        	<li class="call-us">Have Any Question? <a href="/">Call Us</a></li>
                            <li><span class="icon fa fa-clock-o"></span> Mon-Sat:  8:00am-6:30pm</li>
                            
                        </ul>
                    </div>
                    <div class="top-right clearfix">
                    	<ul class="social-icon-three">
                        	 <li><a href="https://www.facebook.com/Umang-For-Life-633863450299917/?modal=admin_todo_tour"><span class="icon fa fa-facebook"></span></a></li>
                            <li><a href="https://www.instagram.com/umangforlife/"><span class="icon fa fa-instagram"></span></a></li>
                            <li><a href="https://plus.google.com/u/0/discover"><span class="icon fa fa-google-plus"></span></a></li>
                        </ul>
                    	<!--Cart Box-->

                    </div>
                </div>
            </div>
        </div>
        
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-outer">
                    	<div class="logo"><a href="/"><img src="../static/images/logo.png" alt="" title=""></a></div>
                    </div>
                    
                    <div class="pull-right upper-right clearfix">
                    	
                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="flaticon-phone-call"></span></div>
                            <ul>
                            	<li><strong>9910938024</strong></li>
                                <li>umangforlives@gmail.com</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="flaticon-placeholder-1"></span></div>
                            <ul>
                            	<li><strong>JIMS</strong></li>
                                <li>Sector-5,Rohini,New Delhi,India</li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<a href="/login/" class="theme-btn btn-style-six">Donate Now</a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            <div class="auto-container">
            	<div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                 <li><a href="/">Home</a></li>
                                   <li><a href="/about/">About</a></li>
                                
								<li><a href="/events-grid/">Events</a>
                                <li><a href="/causes-grid/">Services</a>
                                <li class="dropdown"><a href="/">Category</a>
                                    <ul>
									
									<li><a href="/children/"> Children</a></li>
									<li><a href="/oldage/"> Old-age Home</a></li>
									<li><a href="/widow/"> Widow Women</a></li>
									<li><a href="/animals/"> Animals</a></li>
									</ul>
									
                                </li>
                                    
                                    <li><a href="/feedback/">Feedback</a></li>
                                    <li><a href="/blog/">Blog</a></li>
                                    <li><a href="/contact/">Contact us</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    <!--<div class="btn-box">
                    	<a href="contact.html" class="quote-btn theme-btn">Get a Quote</a>
                    </div>-->
                    
                    <div class="search-form">
                        <form method="post" action="/search/">{% csrf_token %}
                            <div class="form-group">
                                <input type="search" name="search" value="" placeholder="Search Here..." required>
                                <button type="submit" class="theme-btn"><span class="fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Lower-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="/" class="img-responsive"><img src="../static/images/logo-small.png" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                 <li><a href="/">Home</a></li>
                                   <li><a href="/about/">About</a></li>
                                
								<li><a href="/events-grid/">Events</a>
                                <li><a href="/causes-grid/">Services</a>
                                <li class="dropdown"><a href="/">Category</a>
                                    <ul>
									
									<li><a href="/children/"> Children</a></li>
									<li><a href="/oldage/"> Old-age Home</a></li>
									<li><a href="/widow/"> Widow Women</a></li>
									<li><a href="/animals/"> Animals</a></li>
									</ul>
									
                                </li>
                                    
                                    <li><a href="/feedback/">Feedback</a></li>
                                    <li><a href="/blog/">Blog</a></li>
                                    <li><a href="/contact/">Contact us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    

	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('/static/sign/images/bg-01.jpg');"></div>
			
			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" action='' method='post' enctype='multipart/form-data'>{% csrf_token %}
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Username...">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="Email addess...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Repeat Password</span>
						<input class="input100" type="password" name="confirm_password" placeholder="*************">
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type='submit'>
								Sign Up
							</button>
						</div>

						<a href="/login/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
 <!--Subscribe Style One-->
    <section class="subscribe-style-one">
    	<div class="auto-container">
        	<div class="row clearfix">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <h2>Sign up for Updates</h2>
                    <div class="text">Submit your email and stay in touch by notify with updates regularly.</div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <form method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Enter your email" required>
                            <button type="submit" onclick="myFunction()" class="theme-btn"><span class="icon flaticon-send-message-button"></span></button>
							<script>

function myFunction() {

    alert("THANKYOU TO SUBSRCIBE ..!! ");
	
}

</script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
	<!--End Subscribe Style One-->
	
	
   
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	
        <div class="auto-container">
            <div class="row clearfix">
            
                <!--big column-->
                <div class="big-column col-md-7 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="logo-box">
                                        <a href="/"><img src="../static/images/footer-logo.png" alt="" /></a>
                                    </div>
                                    <div class="text"></div>
                                    <ul class="social-icon-two">
                                      <li><a href="https://www.facebook.com/Umang-For-Life-633863450299917/?modal=admin_todo_tour"><span class="icon fa fa-facebook"></span></a></li>
                            <li><a href="https://www.instagram.com/umangforlife/"><span class="icon fa fa-instagram"></span></a></li>
                            <li><a href="https://plus.google.com/u/0/discover"><span class="icon fa fa-google-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column / Links Widget-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h2>Quick Links</h2>
                                <div class="widget-content">
                                	<div class="row clearfix">
                                        <ul class="list col-md-7 col-sm-6 col-xs-12">
                                            <li><a href="/about/">About us </a></li>
                                            <li><a href="/events-grid/">Recent projects</a></li>
                                            <li><a href="/about/">Our Mission</a></li>
                                             <li><a href="/team/">Our Team</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--big column-->
                <div class="big-column col-md-5 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    	 
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget address-widget">
                                <h2>Our Address</h2>
                                <div class="widget-content">
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-location-pin"></span>Jims Sec-5 Rohini,New Delhi,India</li>
                                        <li><span class="icon flaticon-technology-1"></span>9910938024</li>
                                        <li><span class="icon flaticon-e-mail-envelope"></span>umangforlives@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-sm-6 col-xs-12">
                    	<div class="copyright">All Right Researved <a href="index-2.html#">Umang</a> &copy; 2018</div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    	<ul class="footer-nav">
                        	<li><a href="/">Home</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
							<li><a href="/team/">Our Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!--End Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>


<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="../static/css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="../static/css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="../static/css/color-themes/green-theme.css"></span>
            <span class="palate yellow-color" data-theme-file="../static/css/color-themes/yellow-theme.css"></span>
            <span class="palate blue-color" data-theme-file="../static/css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="../static/css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="../static/css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="../static/css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->



<script src="../static/js/jquery.js"></script> 
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/revolution.min.js"></script>
<script src="../static/js/jquery.fancybox.pack.js"></script>
<script src="../static/js/jquery.fancybox-media.js"></script>
<script src="../static/js/owl.js"></script>
<script src="../static/js/appear.js"></script>
<script src="../static/js/wow.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/script.js"></script>

<!--Color Switcher Script-->
<script src="../static/js/color-settings.js"></script>

<!--===============================================================================================-->
	<script src="../static/sign/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signvendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signvendor/bootstrap/js/popper.js"></script>
	<script src="../static/signvendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signvendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/signvendor/daterangepicker/moment.min.js"></script>
	<script src="../static/signvendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/signvendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/signjs/main.js"></script>
</body>
</html>